<div [ngClass]="alerta" class="alert" role="alert">
    <strong>Bien muchacho!!</strong> This is a success alert—check it out!
</div>

<button type="button" class="btn btn-primary" (click)="alerta= 'alert-info'">Info</button>
<button type="button" class="btn btn-danger" (click)="alerta= 'alert-danger'">Danger</button>
<button type="button" class="btn btn-success" (click)="alerta= 'alert-success'">Success</button>

<br><br>

<h3 [ngClass]="{ 'text-danger': propiedades.danger, 'text-info': !propiedades.danger}">
    Hola mundo
</h3>

<button type="button" (click)="propiedades.danger = !propiedades.danger" class="btn" [ngClass]="{'btn-danger': propiedades.danger, 'btn-info': !propiedades.danger}">Cambiar</button>


<br><br>
<hr>
<h3>Proceso Asincrono</h3>

<button type="button" (click)="ejecutar()" [disabled]="loading" class="btn btn-primary">
    <i [ngClass]="{'fa-save':!loading, 'fa-refresh fa-spin': loading}" class="fa"></i>
    <span *ngIf="!loading"> Guardar cambios</span>
    <span *ngIf="loading"> Guardando</span>
</button>